<a href="https://colab.research.google.com/github/ali-liyakat/Machine-Learning-Basics/blob/main/02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

basic 5 data types in python:
1.   int
2.   float
1.   complex
2.   boolean
1.   string

In [2]:
a=6
print(type(a))

<class 'int'>

In [3]:
b=4.5
print(type(b))

<class 'float'>

In [4]:
c=3+4j
print(type(c))

<class 'complex'>

In [13]:
d=True
e= False
print(type(d))
print(type(e))

<class 'bool'>
<class 'bool'>

In [6]:
name="ali"
print(type(name))

<class 'str'>

conversion of data types

In [7]:
num=5
print(float(num))
type(num)

5.0

int

In [8]:
value=6.88
print(int(value))
type(value)

6

float

string methods

In [11]:
my_name="liyakat"
print(len(my_name))   # gives length
print(my_name + " ali")   # concatinates
print(my_name[0:4])       # slices based on index

7
liyakat ali
liya